#
# This file is embedded into the BIOS bootloader at build-time
# Helps BIOS GRUB find our volume when the IMG is used with Ventoy
# There is no point to put it anywhere on the USB - so don't do that.
#
# Keep the ID file name consistent with BR2_TARGET_ROOTFS_ISO9660_GRUB2
# when building configurations that build both an ISO and the IMG.
#
search --file --set=root /buildroot
set prefix=($root)/boot/grub
source $prefix/grub.cfg
