#
# This file is embedded into the GRUB bootloaders at build-time
# Helps GRUB find our ShredOS volume when it cannot (Ventoy BIOS)
# There is no point to put it anywhere on the USB - so don't do that.
#
# Keep consistent with BR2_TARGET_ROOTFS_ISO9660_GRUB2_EFI_IDENT_FILE
# when building any configurations that build both an ISO and the IMG.
#
search --file --set=root /boot/buildroot
set prefix=($root)/boot/grub
source $prefix/grub.cfg
